<form method="post" action="/comment/<%=session[:last_name]%>">

  <p><label for="comment"><%= session[:first_name] %>: please add your comments:</label></p>
  <textarea name="comment" cols="100" rows="5" value="" ></textarea>

  <p><button type="submit">Submit</button></p>
</form>