  <p><h3> How difficult did you find this assessment? 1(easy) through 5(hard) </h3></p>
  <form class="inline" method="post" action="/difficulty/edit">
    <input name="difficulty" value= <%= params[:difficulty] %>>
    <button type="submit">Save</button>
  </form>