<form method="post" action="/survey/update_review/<%= @last_name %>">

  <p><h3>Update your survey response:</h3></p>

  <p>How challenging did you find this assessment? (1=easy ... 5=difficult)</p>
  <input type="text" name="difficulty" value=<%= params[:difficulty] || @difficulty %>>

  <p><label for="comment"><%= session[:first_name] %>: please add your comments:</label></p>
  <%# x = "abc" || nil    will set x to non-nil value%>
  <textarea name="comment" cols="100" rows="5" value="<%= params[:comment] || @comment %>" ></textarea>

  <p><button type="submit">Submit</button></p>
</form>