<form method="post" action="/survey/update_review/<%= session[:last_name]%>">

  <p>How challenging did you find this assessment? (1=easy ... 5=difficult)</p>
  <input type="text" name="difficulty" maxlength="1" size="1" value=<%= params[:difficulty] || session[:difficulty] %>>

  <p><label for="comment"><%= session[:first_name] %>: please add your comments:</label></p>
  <%# x = "abc" || nil  will set x to non-nil value%>
  <input type="text"  maxlength="100" size="100" name="comment" value="<%= params[:comment] || session[:comment] %>" >

  <p><button type="submit">Submit</button></p>
</form>